<div class="container">
    <div class='movie'>
      <div class="movie-div">
        <img class='movie__img' src='https://image.tmdb.org/t/p/w500{{poster_url}}' alt='{{title}}' width='375px' />
      </div>
      <div class='description'>
        <h2 class='description__title'>{{title}}</h2>
        <ul class="description__list list">
        <li class='description__info'> <span class="description__info__titles">Voit/voits </span> Voit/voits : {{vote_average}}/{{vote_count}}</li>
        <li class='description__info'> <span class="description__info__titles">Popularity </span> Popularity : {{popularity}}</li>
        <li class='description__info'> <span class="description__info__titles">Original title </span>  {{original_title}}</li>
        <li class='description__info'> <span class="description__info__titles">Genres </span>  {{genres}}
        </ul>
        <div class='description__about'><span class="description__about__title">About</span> {{overview}}</div>
    <div class="buttons">
      <button type="submit" class="watched">add to watched</button>
      <button type="submit" class="queue">add to queue</button>
    </div>
        
    
      </div>
    </div>
</div>
