<div class='movie'>
  <img
    class='movie__img'
    src='https://image.tmdb.org/t/p/w500{{poster_url}}'
    alt='{{title}}'
    width='375px'
  />
  <div class='description'>
    <h2 class='description__title'>{{title}}</h2>
    <p class='description__info'>Voit/voits {{vote_average}}/{{vote_count}}</p>
    <p class='description__info'>popularity {{popularity}}</p>
    <p class='description__info'>original title {{original_title}}</p>
    <p class='description__info'>genres : {{genres}}

    <div class='description__about'>{{overview}}</div>

    <button type="submit" class="watched">add to watched</button>
    <button type="submit" class="queue">add to queue</button>
     
  </div>
</div>