<div class='container'>
  <div class='movie'>
    <button type='button' class='close-icon button' id='close-btn'>
      <svg width='30' height='30'>
        <use xlink:href='#close'></use>
      </svg>
      <svg width='0' height='0' class='hidden'>
        <symbol
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 30 30'
          id='close'
        >
          <path d='M8 8L22 22' stroke='black' stroke-width='2'></path>
          <path d='M8 22L22 8' stroke='black' stroke-width='2'></path>
        </symbol>
      </svg>
    </button>
    <div class='movie__div'>
      {{#if poster_url}}
        <picture>
          <source
            srcset='https://image.tmdb.org/t/p/w500{{poster_url}} 1x, https://image.tmdb.org/t/p/w500{{poster_url}} 2x'
            media='(min-width: 1200px)'
          />

          <source
            srcset='
                            https://image.tmdb.org/t/p/w500{{poster_url}}    1x,
                           https://image.tmdb.org/t/p/w500{{poster_url}} 2x
                          '
            media='(min-width: 768px)'
          />

          <source
            srcset='
                            https://image.tmdb.org/t/p/w300{{poster_url}}    1x,
                            https://image.tmdb.org/t/p/w300{{poster_url}} 2x
                          '
            media='(min-width: 320px)'
          />
          <img
            class='movie__img'
            src='https://image.tmdb.org/t/p/w500{{poster_url}}'
            alt='{{title}}'
            width='375px'
          />
        </picture>
      
            <button class="trailer__button" type="button">
                {{!-- <div class="trailer__div"></div> --}}
          <svg class="icon-video" aria-hidden="true" width="45" height="25"
         version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32">
         <path d="M12 9c0-2.761 2.239-5 5-5s5 2.239 5 5c0 2.761-2.239 5-5 5s-5-2.239-5-5zM0 9c0-2.761 2.239-5 5-5s5 2.239 5 5c0 2.761-2.239 5-5 5s-5-2.239-5-5zM24 19v-3c0-1.1-0.9-2-2-2h-20c-1.1 0-2 0.9-2 2v10c0 1.1 0.9 2 2 2h20c1.1 0 2-0.9 2-2v-3l8 5v-14l-8 5zM20 24h-16v-6h16v6z"></path></svg>WATCH TRAILER
           </button>
    
      {{else}}
        <img
          src='https://phonoteka.org/uploads/posts/2021-05/1620113958_20-phonoteka_org-p-kinoplyonka-s-prozrachnim-fonom-24.png'
          alt='Poster not found for movie: {{title}}'
          class='movie__img poster'
          loading='lazy'
        />
      {{/if}}
    </div>
    <div class='description'>
      <h2 class='description__title'>{{title}}</h2>
      <ul class='description__list list'>
        <li class='description__info'>
          <span class='description__info__titles'>Voit/voits </span>
          <span class='orangebackend'>{{vote_average}}</span>
           &nbsp;/&nbsp; <div >{{vote_count}}</div></li>
        <li class='description__info'>
          <span class='description__info__titles'>Popularity </span>
          <div class="decr-width">{{popularity}}</div></li>
        <li class='description__info'>
          <span class='description__info__titles'>Original title </span>
          <div class="decr-width">{{original_title}}</div></li>
        <li class='description__info'>
          <span class='description__info__titles'>Genres </span>
          <div class="decr-width">
          {{#if genres}}
          {{#each genres}}
          {{this }}{{#unless @last}}, {{/unless}}
          {{else}}Other
          {{/each}}
          {{/if}}
          </div>
          </li>
      </ul>
      <div class='description__about'><span
          class='description__about__title'
        >About</span>
        {{overview}}</div>
      <div class='buttons'>
        <button type='submit' class='watched'>add to watched</button>
        <button type='submit' class='queue'>add to queue</button>
      </div>

    </div>
  </div>
</div>