{{#each this}}
  <li class='gallery_item'>
    <a class='gallery_link' href='/'>
      <div class='wrapper_card'>
        <div class='wrapper_img'>
          <img
            class='gallery_img'
            {{!-- src='https://api.themoviedb.org/3/search/movie{{poster_path}}' --}}
            alt='{{title}}'
            loading='lazy'
          />
        </div>
        <div class='wrapper_data'>
          <h2 class='gallery_name'>{{title}}</h2>
          <p class='gallery_genre'>{{genre_ids}}</p>
          <p class='gallery_year'>{{release_date}}</p>
        </div>
      </div>
    </a>
  </li>
{{/each}}