{{#each this }}
<li class="movie-card" data-id={{id}}>
  

    {{#if poster}}
    <picture class="picture" data-id={{id}}>
      <source
                  srcset="https://image.tmdb.org/t/p/w500{{poster}} 1x, https://image.tmdb.org/t/p/w500{{poster}} 2x"
                  media="(min-width: 1200px)"
                />

                <source
                  srcset="
                    https://image.tmdb.org/t/p/w500{{poster}}    1x,
                   https://image.tmdb.org/t/p/w500{{poster}} 2x
                  "
                  media="(min-width: 768px)"
                />

                <source
                  srcset="
                    https://image.tmdb.org/t/p/w300{{poster}}    1x,
                    https://image.tmdb.org/t/p/w300{{poster}} 2x
                  "
                  media="(min-width: 320px)"
                />
          <img src="https://image.tmdb.org/t/p/w500{{poster}}" alt="Poster for "{{title}}"" class="movie-card__img poster " loading='lazy'/>
      </picture>
    {{else}}
        <img  src="https://phonoteka.org/uploads/posts/2021-05/1620113958_20-phonoteka_org-p-kinoplyonka-s-prozrachnim-fonom-24.png" alt="Poster not found for movie: {{title}}" class="movie-card__img poster" loading='lazy'/>
    {{/if}}
   
        <h2 class="movie-card__title">{{title}}</h2>
        
          <p class="movie-card__info">
            {{#each genres}}

            {{this }}{{#unless @last}},{{/unless}}
            {{/each}}
|{{year}} 
           //<span  class="add-insert">|</span>

          </p>
          <p class="movie-card__vote visually-hidden">{{vote}}</p>
      
        
      </li>

{{/each}} 